 <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">

        <!-- Brand -->
        <%= link_to 'Crypto Portfolio', root_path, class: 'nav-brand' %>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <%= link_to 'About', home_about_path, class: 'nav-link' %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Lookup', home_lookup_path, class: 'nav-link' %>
                </li>

                <% if user_signed_in? %>

                    <li class="nav-item">
                        <%= link_to 'My Crypto', cryptos_path, class: 'nav-link' %>
                    </li>

                    <li class="nav-item">
                        <%= link_to 'New Purchase', new_purchase_path, class: 'nav-link' %>
                    </li>

                    <li class="nav-item">
                        <%= link_to 'History', purchases_path, class: 'nav-link' %>
                    </li>

                    <!-- User Account Things -->
                    <li class="nav-item">
                        <%= link_to 'Logout', destroy_user_session_path, class: 'nav-link', method: :delete %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Account', edit_user_registration_path, class: 'nav-link' %>
                    </li>

                <% else %>
                    <!-- User Account Things -->
                    <li class="nav-item">
                        <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
                    </li>
                <% end %>
            </ul>
        </div>

    </div>
</nav> 