<div class='purchase-form'>
  <div class='purchase-form-container'>
    <div class=purchase-form-form>
      
      <% if purchase.new_record? %>
        <h2>New Transaction</h2>
      <% else %>
        <h2>Edit Transaction</h2>
      <% end %>
      
      <%= form_with(model: purchase, local: true) do |form| %>
        <% if purchase.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

            <ul>
              <% purchase.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>


        <div class='purchase-form-radio'>


          <div class='purchase-form-radio-inner'>
            <div class='purchase-form-radio-option'>
            <%= form.label :description, 'Buy', :value => 'Buy' %>
            <%= form.radio_button :description, 'Buy' %>
            </div>
            <div class='purchase-form-radio-option'>
            <%= form.label :description, 'Sell', :value => 'Sell' %>
            <%= form.radio_button :description, 'Sell' %>
            </div>
            <div class='purchase-form-radio-option'>
            <%= form.label :description, 'Move', :value => 'Move' %>
            <%= form.radio_button :description, 'Move' %>
            </div>
          </div>
        </div>


        <div class="field">
          <%= form.label :symbol %>
          <%= form.text_field :symbol, placeholder: 'Symbol eg, BTC, XRP..' %>
        </div>

        <div class="field">
          <label>Cryptocurrency price</label>
          <%= form.text_field :cost_per, id: 'purchasePrice', placeholder: 'Price at time of transaction'%>
        </div>

        <div class="field">
          <label>Amount</label>
          <%= form.text_field :amount, id: 'purchaseAmount', placeholder: 'Amount of crypto involved' %>
        </div>

        <div class="field">
          <label>Fee Charged</label>
          <%= form.text_field :fee, id: 'purchaseFee', placeholder: 'Transaction fee' %>
        </div>

        <div class="field">
          <label>Total Value</label>
          <%= form.text_field :total_cost, id: 'purchaseTotal', placeholder: 'Total value' %>
        </div>


        <div class="actions">
          <% if purchase.new_record? %>
            <%= form.submit 'Create Transaction', class: 'purchase-form-btn', id: 'purchase-form-btn' %>
            <p>Don't wait to create a transaction? <a href="<%= purchases_path %>">Go Back</a></p>
          <% else %>
            <%= form.submit 'Edit Transaction', class: 'purchase-form-btn', id: 'purchase-form-btn' %>
            <p>Don't wait to edit this transaction? <a href="<%= purchase_path(purchase) %>">Go Back</a></p>
          <% end%>
        </div>
      <% end %>
    </div>
  </div>
</div>