<h3>Crpyto Currency Lookup</h3>

<%= form_tag home_lookup_path, :method => 'POST' do %>
    <%= text_field_tag 'symbol', nil, placeholder: 'Enter Cryptocurrency Symbol' %>
    <%= submit_tag 'Lookup Crypto Quote' %>
<% end %>


<%= @symbol %>
<% if @symbol %>
    <% for coin in @lookup_coin %>
        <% if @symbol == coin["symbol"] %>
            <%= coin["name"] %>: USD $<%= coin['quote']['USD']['price'] %><br>
            rank: <%= coin['cmc_rank'] %><br><br>
        <% end %>
    <% end %>
<% end %>