<div class='crypto-bg'>
  <div class='crypto-index'>
    <table>
      <thead>
        <tr id='crypto-index-header'>
          <th>Name</th>
          <th>24HR</th>
          <th>Current Value</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
        <% @cryptos.each do |crypto| %>
          <tr>
            
            <% @crypto_coins.each do |crypto_coin| %>
              <% if crypto.symbol == crypto_coin['symbol'] %>
                <%# Crypto Name %>
                <td><%= link_to crypto_coin['name'], crypto, class: 'crypto-link' %></td>
                <%# 24 Hr Change %>
                <td><%= (crypto_coin['quote']['USD']['percent_change_24h']).round  %>%</td>
                <%# Total Value %>
                <td><%= number_to_currency(crypto_coin['quote']['USD']['price'].to_d * crypto.amount_owned) %>
              <% end %>
            <% end%>
            </td>
            <td><%= crypto.amount_owned %></td>


          </tr>
        <% end %>
        <tr id='crypto-index-header'>
      </tbody>
      
    </table>

    <br>


    
    <strong>Portfolio Profit/Loss: <%= number_to_currency(@portfolio_profit) %> </strong>
    <br>
    <br>
    <%= link_to 'New Crypto', new_crypto_path, class: 'btn btn-primary' %>

  </div>
</div>